/* *{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    display: flex;
    justify-content: space-evenly;
   
} */


.div1{
    height: 50vh;
    width: 50vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2{
    height: 10em;
    width: 10em;
    background-color: white;
}

@media(max-width:300px){
    .div1{
        background-color: greenyellow;
    }
    .div2{
        background-color: black;
        border-radius: 50%;
    }
}
@media(min-width:300px) and (max-width:400px){
    .div1{
        background-color: pink;
    }
    .div2{
        background-color: black;
        border-radius: 50%;
    }
}

@media(min-width:400px) and (max-width:600px){
    .div1{
        background-color: red;
    }
    .div2{
        background-color: black;
        border-radius: 50%;
    }
}

@media(min-width:600px){
    .div1{
        background-color: blue;
    }
    .div2{
        background-color: black;
        border-radius: 50%;
    }
}