.loader{
    height: 100px;
    width: 100px;
    /* background-color: red; */
    border-radius: 50%;
    border: 10px solid black;
    border-left: 10px solid white;
    animation: spinner 1s ease-in-out  infinite;
}

@keyframes spinner {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}